# (c) Cartesi and individual authors (see AUTHORS)
# SPDX-License-Identifier: Apache-2.0 (see LICENSE)
#
# Logging
#
[logging.CARTESI_LOG_LEVEL]
default = "info"
go-type = "LogLevel"
description = """
One of "debug", "info", "warn", "error"."""

[logging.CARTESI_LOG_PRETTY_ENABLED]
default = "false"
go-type = "bool"
description = """
If set to true, the node will add colors to its log output."""

#
# Blockchain
#

[blockchain.CARTESI_BLOCKCHAIN_HTTP_ENDPOINT]
go-type = "string"
description = """
HTTP endpoint for the blockchain RPC provider."""

[blockchain.CARTESI_BLOCKCHAIN_WS_ENDPOINT]
go-type = "string"
description = """
WebSocket endpoint for the blockchain RPC provider."""

[blockchain.CARTESI_EVM_READER_DEFAULT_BLOCK]
default = "finalized"
go-type = "DefaultBlock"
description = """
The default block to be used by EVM Reader when requesting new blocks.
One of 'latest', 'pending', 'safe', 'finalized'"""

#
# Postgres
#

[database.CARTESI_DATABASE_CONNECTION]
default = ""
go-type = "URL"
description = """
Postgres endpoint in the 'postgres://user:password@hostname:port/database' format (URL).

If not set, or set to empty string, will defer the behaviour to the PG driver.
See [this](https://www.postgresql.org/docs/current/libpq-envars.html) for more information.

It is also possible to set the endpoint without a password and load it from Postgres' passfile.
See [this](https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNECT-PASSFILE)
for more information."""

#
# Espresso
#

[espresso.ESPRESSO_BASE_URL]
default = ""
go-type = "string"
description = """
Espresso base url."""

[espresso.ESPRESSO_STARTING_BLOCK]
default = "0"
go-type = "uint64"
description = """
Espresso starting block."""

[espresso.ESPRESSO_NAMESPACE]
default = "0"
go-type = "uint64"
description = """
Espresso namespace."""

[espresso.ESPRESSO_SERVICE_ENDPOINT]
default = "0.0.0.0:8080"
go-type = "string"
description = """
URL to Espresso nonce and submit service"""

[espresso.RETRY_POLICY_MAX_RETRIES]
default = "10"
go-type = "uint64"
description = """
How many times some functions should be retried after an error."""

[rollups.RETRY_POLICY_MAX_DELAY]
default = "2"
go-type = "Duration"
description = """
How many seconds the retry policy will wait between retries."""

